* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #06121e !important;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}
